

.banner {
    width:100%;
    padding: 256px 64px 256px 64px;
    display:flex;
    align-items:center;
}



.banner-container {
    width: min(1000px, 100%);
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:32px;
}

.banner-container > h5,
.banner-container > h1,
.banner-container > p{
    width:100%;
}

.ihab-nouidjem {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width:1200px) {
    .banner {
        padding: 256px 32px 256px 32px;
    }
}

@media only screen and (max-width:600px) {
    .banner {
        padding: 128px 16px 128px 16px;
    }

     .banner-container {
        gap:32px;
    }
}