:root {
  --black : #000;
  --black-90 : rgb(0 0 0 / 90%);
  --black-75 : rgb(0 0 0 / 75%);
  --black-50 : rgb(0 0 0 / 50%);  
  --black-25 : rgb(0 0 0 / 25%);  
  --white : #fff;
  --white-90 : rgb(255 255 255 / 90%);
  --white-75 : rgb(255 255 255 / 75%);
  --white-50 : rgb(255 255 255 / 50%);
  --white-25 : rgb(255 255 255 / 25%);
  --white-10 : rgb(255 255 255 / 10%);
  --red : #ff1d1d;
  --light-red : #ff9e6e;
  --blue : #00c9c8;
  --light-blue : #bffcf9;
  /* --green : #48ff00; */
  --green :#00ff00;
  --light-green : #dfffa8;
}

.test-container {
  position: fixed;
  top:72px;
  left: 72px;
  z-index: 6000;
  background-color: var(--black);
  display:flex;
  flex-direction: column;
  gap:8px;
  border:1px solid var(--red);
}

.hide-items > * {
  opacity:0%;
}
.animate-banner-items > *{
  /* margin-block:32px; */
  opacity: 100%;
  animation:1800ms animateBannerItems;
}

@keyframes animateBannerItems {
  0%{
    opacity:0%;
    margin-block:48px;
  }
  50%{
    opacity:0%;
    margin-block:48px;
  }
  70%{
    opacity:100%;
    margin-block:48px;
  }
  75%{
    opacity:100%;
    margin-block:48px;
  }
  100%{
    opacity: 100%;
    margin-block:0;
  }
}

.animate-items > *{
  /* margin-block:32px; */
  opacity: 100%;
  animation: 800ms animateItems;
}

@keyframes animateItems {

  0%{
    opacity:0%;
    margin-block:48px;
  }
  50%{
    opacity:100%;
    margin-block:48px;
  }
  55%{
    opacity:100%;
    margin-block:48px;
  }
  100%{
    opacity: 100%;
    margin-block:0;
  }
}

.black {color:var(--black);}
.black-75 {color:var(--black-75);}
.black-50 {color:var(--black-50);}
.black-25 {color:var(--black-25);}
.white {color:var(--white);}
.white-75 {color:var(--white-75);}
.white-50 {color:var(--white-50);}
.white-25 {color:var(--white-25);}
.white-hover:hover {
  color:var(--white);
}
.light-blue {color:var(--light-blue);}
.linear-red {
  background: -webkit-linear-gradient(60deg, var(--light-red), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linear-blue {
  background: -webkit-linear-gradient(60deg, var(--light-blue), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-blue {
  background: -webkit-linear-gradient(-60deg, var(--light-blue) , var(--blue), var(--light-blue)) 0 0 / 400% 100%;
}
.animated-red {
  background: -webkit-linear-gradient(-60deg, var(--light-red) , var(--red), var(--light-red)) 0 0 / 400% 100%;
}
.animated-green {
  background: -webkit-linear-gradient(-60deg, var(--light-green) , var(--green), var(--light-green)) 0 0 / 400% 100%;
}

.animated-blue,
.animated-red,
.animated-green{
  animation: animatedColor 10s linear infinite ;
}

@keyframes animatedColor {
  to{
      background-position: 400% 0%;
  }
}

/* global config  */
html,
.main {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--white-25);
  background: -webkit-linear-gradient(20deg , var(--white-75) -200px, var(--white-90))
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.main {
  padding-top:72px;
  width:100%;
}


li {
  list-style:none;
}
a {
  text-decoration:none;
}
button,
input,
textarea {
  border:none;
  outline:none;
}

button:focus,
input:focus,
textarea:focus {
  border:none;
  outline:none !important;
}

/* assets */
.h1{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 113px;
  font-weight: 400;
}
.h2{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 80px;
  font-weight: 400;
}
.h3{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 56px;
  font-weight: 300;
}
.h4{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.h5{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}
.h6{
   font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.paragraph{
  font-family: 'Cairo', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.button{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:16px;
  padding: 16px 32px 16px 32px;
  border-radius:36px;
  background-color:var(--white);
  width:fit-content;
  border: 2px solid var(--black);
  transition: 100ms;
}

.button:hover{
  background-color:var(--black);
  width:fit-content;
  border:none;
  border:2px solid var(--white);

}

.button:hover .black{
  color: var(--white);
}

.icon{
  display:flex;
  align-items:center;
  justify-content:center;
  height:40px;
  aspect-ratio:1 / 1;
  font-size:30px;
  border-radius: 8px;
}

.small-icon{
  display:flex;
  align-items:center;
  justify-content:center;
  height:30px;
  aspect-ratio:1 / 1;
  font-size:26px;
}


.project-slider{
  display:flex;
  flex-direction:column;
}

.project-header {
  width:100%;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding: 8px 0 8px 0;
}

.scroll-buttons {
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:16px;
}

.slider-x {
    display:grid;
    grid-template-rows: 1fr;
    overflow-x: scroll;
    overflow-y: unset;
    overscroll-behavior-inline: contain;
    gap:16px;
    scroll-snap-type:mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-x::-webkit-scrollbar {
  display:none;
}

.flex-center {
  display:flex;
  align-items: center;
  justify-content: center;
}

.slider-x > * {
  grid-row:1 / 2;
  scroll-snap-align: start;
}

.project-slider-image {
  height: min(500px, calc(50vw - 64px));
  width:min(1000px, calc(100vw - 128px));
  display:flex;
  align-items:center;
  justify-content: center;
}

.project-slider-image img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:8px;
}

.slider-dash-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:8px;
  padding: 8px 0 8px 0;
}

.slider-dash {
  height:4px;
  width:16px;
  border-radius: 2px;
}

.current-dash {
  width:32px;
  /* background: -webkit-linear-gradient(-60deg, var(--light-blue), var(--blue)); */
}

.white-25-dash {
  background: var(--white-25);
}

.popup {
  position:fixed;
  bottom:72px;
  right:64px;
  z-index:5000;
  background-color: var(--black-90);
  border-radius: 8px;
  border: 1px solid var(--white-25);
  width: min(300px, calc(100% - 128px));
  padding:16px;
  opacity: 0%;
  animation: 6s fade;
}
@keyframes fade {
  0%{
    opacity: 100%;
  }
  90%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}

@media only screen and (max-width: 1200px){
  .h1{

    font-size: 102px;
    font-weight: 400;
  }
  .h2{

    font-size: 72px;
    font-weight: 400;
  }
  .h3{

    font-size: 50px;
    font-weight: 300;
  }
  .h4{
    font-size: 36px;
    font-weight: 400;
  }
  .h5{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
  }
  .h6{
    font-size: 18px;
    font-weight: 400;
  }
  .paragraph{
    font-size: 18px;
    font-weight: 400;
  }
  .project-slider-image {
    height: min(500px, calc(50vw - 32px));
    width:min(1000px, calc(100vw - 64px));
  }
  .popup {
    /* bottom:216px; */
    right:32px;
  }
  body::-webkit-scrollbar {
    display:none;
  }
}


@media only screen and (max-width: 600px){
  .h1{
    font-size: 55px;
    font-weight: 400;
  }
  .h2{
    font-size: 44px;
    font-weight: 400;
  }
  .h3{
    font-size: 35px;
    font-weight: 300;
  }
  .h4{
    font-size: 28px;
    font-weight: 400;
  }
  .h5{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
  }
  .h6{
    font-size: 18px;
    font-weight: 400;
  }
  .paragraph{
    font-size: 18px;
    font-weight: 400;
  }
  .icon{
    display:flex;
    align-items:center;
    justify-content:center;
    height:30px;
    aspect-ratio:1 / 1;
    font-size:26px;
  }
  .project-slider-image {
    height: min(500px, calc(50vw - 16px));
    width:min(1000px, calc(100vw - 32px));
  }
  .popup {
    /* bottom:216px; */
    right:16px;
  }
}

.background-white{background-color:var(--white);}
